.container {
  width: 85%;
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 2rem;
  flex: auto;
}

.main-heading {
  color: dodgerblue;
  text-align: center;
}

.about {
  margin-top: 3rem;
}

.about h1 {
  margin-top: 3rem;
  color: dodgerblue;
  text-align: center;
}

@media (max-width: 768px) {
  .about,
  .about h1 {
    margin-top: 2.5rem;
  }
  .container {
    width: 90%;
  }
}
