.container {
  width: 85%;
  max-width: 1366px;
  margin: auto;
  padding-bottom: 2rem;
}

.main-heading {
  color: dodgerblue;
  text-align: center;
}

.about {
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .about {
    margin-top: 2.5rem;
  }
}
