.two-column-layout {
  background: #f4f4f4;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column-div {
  flex: 1;
  padding: 1rem;
}

@media (max-width: 768px) {
  .two-column-layout {
    flex-direction: column;
    padding: 0;
  }
}
