.sidebar {
  background: #ccc;
  padding-right: 1.5rem;
  padding-top: 6rem;
  min-width: max-content;
  width: 20%;
}

.list {
  list-style: none;
  text-align: end;
}

.btn {
  color: black;
  border: 0;
  padding: 0.5rem;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.btn-active {
  color: black;
  border: 0;
  padding: 0.5rem;
  background: none;
  font-size: 18px;
  cursor: pointer;
  border-right: 5px solid dodgerblue;
  font-weight: bold;
}

.btn:hover,
.btn-active:hover {
  color: #444;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
