.sidebar {
  background: #ccc;
  padding-right: 1.5rem;
  padding-top: 6rem;
  min-width: max-content;
  width: 20%;
}

.btn {
  border: none;
  padding: 0.5rem;
  background: none;
  font-size: 18px;
}

.btn:hover {
  background: #f4f4f4;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
